@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@700;800&display=swap');




.txt h3 {
    font-family: 'Barlow Condensed', sans-serif;
}

.txt p  {
    font-family: 'Barlow Condensed', sans-serif;
    box-shadow: 3px 3px rgb(4, 23, 129), -1em 0 .4em rgb(20, 227, 235);
}

