@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@700;800&display=swap');




.h1  {
    text-align: center;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 800;
    box-shadow: 0 0 50px 15px #48abe0;
   justify-content: center;
   align-self: center;
}

.h5 {
  text-align: center;
  align-self: center;
  justify-content: center;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 700;
    animation: zoomup 2s linear infinite;
    animation-delay: calc(200ms * var(--i));
}

@keyframes zoomup {
    0%,
    100% {
      color: #00c2ba;
      filter: blur(1px);
      text-shadow: 0 0 10px #00c2ba, 0 0 20px #00c2ba, 0 0 30px #00c2ba,
        0 0 40px #00c2ba, 0 0 60px #00c2ba, 0 0 80px #00c2ba, 0 0 100px #00c2ba,
        0 0 120px #00c2ba;
    }
  
    5%,
    95% {
      filter: blur(0);
      color: #fff;
      text-shadow: none;
    }
}